

 .welcomeWrapper {
  background-color: #d7b672;
  padding: 12px;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 20px;
  /*padding-bottom:10px;
  border-bottom: 1px solid rgba(201, 158, 60, 0.9);*/
}


.testcr{
  width: 800px;
  background-color: gray;
}

.announcements {
  height: 150px !important;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
	background-color: transparent;
  width: 800px;
}


.card {
	border-bottom: 1px solid #d9d9d9;
	background-color: transparent;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
 /* background-image: url("../Images/sprite-icons.svg");*/
  height: 33px;
  width: 32px;
}
